@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  background: #EDEDED;
}
.popular li, .latest li {
  display: inline-block;
  width: 306px;
  height: 306px;
  margin: 0px 20px 20px 0px;
}
.popular, .latest {
  width: 1004px;
  margin: auto;
}
h1 {
  text-align: center;
  font-family: 'Lato';
  font-size: 36px;
  padding: 20px;
  font-weight: bold;
  color: #4F4F4F;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

img {
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
span {
  font-family: 'Lato';
  font-size: 24px;
  text-align: center;
  display: block;
  padding: 10px 0px;
}
.taginfo{
   margin:2em auto;
   display:block;
   width:32em;
}
label{
  font-family:"Times New Roman",Georgia,Serif;;
  font-weight:bold;
  padding:1em;
  font-size:22px;
}
.btag {
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  -webkit-border-top-left-radius:22px;
  -moz-border-radius-topleft:22px;
  border-top-left-radius:22px;
  -webkit-border-top-right-radius:22px;
  -moz-border-radius-topright:22px;
  border-top-right-radius:22px;
  -webkit-border-bottom-right-radius:22px;
  -moz-border-radius-bottomright:22px;
  border-bottom-right-radius:22px;
  -webkit-border-bottom-left-radius:22px;
  -moz-border-radius-bottomleft:22px;
  border-bottom-left-radius:22px;
  text-indent:0;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  font-weight:bold;
  font-style:normal;
  height:28px;
  line-height:28px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
  margin-left:1em;
}
.btag:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
}
.btag:active {
  position:relative;
  top:1px;
}
#tag{
  height:28px;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
}